{% extends 'base.html' %}
{% block title %}Collections{% endblock title %}
{% block content %}

    <div style="margin-top: 5%; margin-left: 5%">
        <h2>{{ collection.filename }}</h2>
    </div>
    <div>
        <table class="table table-bordered" , style="width: 1700px; margin-left: 5%">
            <thead>
            <tr>
                <th>name</th>
                <th>height</th>
                <th>mass</th>
                <th>hair_color</th>
                <th>skin_color</th>
                <th>eye_color</th>
                <th>birth_year</th>
                <th>gender</th>
                <th>homeworld</th>
                <th>date</th>
            <tr>
            </thead>
            {% for key, value in collections.items %}
                <tr>
                    <td>{{ value.name }}</td>
                    <td>{{ value.height }}</td>
                    <td>{{ value.mass }}</td>
                    <td>{{ value.hair_color }}</td>
                    <td>{{ value.skin_color }}</td>
                    <td>{{ value.eye_color }}</td>
                    <td>{{ value.birth_year }}</td>
                    <td>{{ value.gender }}</td>
                    <td>{{ value.homeworld }}</td>
                    <td>{{ value.date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}