{% extends 'base.html' %}
{% block title %}Collections{% endblock title %}
{% block content %}

    <div style="margin-top: 5%; margin-left: 5%">
        <h1>Collections<a href="{% url 'collections:upload' %}"
                          class="btn btn-secondary btn-lg active"
                          role="button" aria-pressed="true"
                          style="background-color: forestgreen;
                      margin-left: 1%">Fetch</a></h1>
    </div>

    <table class="table table-bordered" style="width: 1700px; margin-left: 5%">
        <thead>
        {% for collection in collections %}
            <tr>
                <th scope="col"><a style="color: dodgerblue"
                                   href="{% url 'collections:detail' collection.id %}">{{ collection.creation_date }}</a>
                </th>
            </tr>
            </thead>
        {% endfor %}
    </table>
{% endblock content %}
